/* Padding */

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/* Button */

.btn {
  display: inline-block;
  background-color: #ddd;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-light,
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-dark,
.bg-dark {
  background-color: #333;
  color: #fff;
}

/* Section Header */

.section-header {
  text-align: center;
  padding: 30px 0;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

.section-subtitle {
  font-style: italic;
  color: #797979;
}

/* Flex Columns */

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .row .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px 30px;
}

.flex-columns .row .column .column-1,
.flex-columns .row .column .column-2 {
  height: 100%;
}

.flex-columns .row .column .column-1 {
  text-align: center;
  padding: 10px;
}

.flex-columns img {
  opacity: 0.7;
}

/* Flex Items */

.flex-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Flex Grid */

.flex-grid .row {
  display: flex;
  padding: 0 20px;
}

.flex-grid .row .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}
